.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
  transition: opacity 0.5s ease;
  opacity: 1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
}

.splash-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splash-img {
  max-width: 80vw;
  max-height: 60vh;
}